@use './reset.scss';
@use './variables/global.scss';
@use './themes/light.scss';
@use './themes/dark.scss';

.app {
  font: var(--font-m);
  background-color: var(--bgColor);
  color: var(--colorPrimary);
  min-height: 100vh;
}
